{% extends 'accounts/main.html' %}
{% block content %}
<br>
<h3>{{department}} Department Page</h3>
<p></p>
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-ven">
			  	<div class="card-header">
			  		<h5 class="card-title">Total ventilators in {{department}} Department </h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Ventilator}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-beds">
			  	<div class="card-header">
			  		<h5 class="card-title">Total beds in {{department}} Department</h5>
			  	</div>
			  	<div class="card-body">
					<h3 class="card-title">{{dep_beds}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-free">
			  	<div class="card-header">
			  		<h5 class="card-title">Total free beds in {{department}} Department</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{freeBeds}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-patients">
			  	<div class="card-header">
					<h3 class="card-title">Max Concentration: {{concentration}}</h3>
				</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
					<a class="btn btn-primary  btn-sm btn-block" href="{%url 'set_concentration' department%}"> <h6> Update concentration </h6> </a>
			  	</div>
			</div>
		</div>
	</div>

<br>
<br>
			<a class="btn btn btn-dark  btn-sm btn-block" href="{% url 'add_equip' %}"> <h6> Add Equipment</h6> </a>
<br>
<br>


<div class="row">
	<div class="col-md">
		<div class="card card-body" id="general">
			<h5>List of Medical Equipment:</h5>
		</div>
		<div class="card card-body" id="general">
			<table class="table table-sm">

				<tr>
					<th>Name</th>
					<th>Department</th>
					<th>Change Department</th>
					<th>Date of registration</th>
					<th>Delete equipment</th>
				</tr>
				{% for i in equipment %}
				{% if department == i.department %}
					<tr>
						<td>{{i.name}}</td>
						<td>{{i.department}}</td>
						<td><a class="btn btn-sm btn-info" href="{%url 'update_equip' i.id%}">Change</a></td>
						<td>{{i.date_registered}}</td>
						<td><a class="btn btn-sm btn-danger" href="{%url 'delete_equipment' i.id%}">Delete</a></td>
					</tr>
				{% endif %}
				{% endfor %}

			</table>
		</div>
	</div>
</div>

<br>
<br>
<a class="btn btn-dark  btn-sm btn-block" href="{% url 'add_ven' %}"> <h6> Add Ventilator</h6> </a>
<br>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body" id="general">
			<h5>List of Ventilators:</h5>
		</div>
		<div class="card card-body" id="general">
			<table class="table table-sm">

				<tr>
					<th>Name of patient</th>
					<th>Department</th>
					<th>Date of hospitalization</th>
					<th>Room number</th>
					<th>Ventilator number</th>
				</tr>
				{% for i in Ventilators %}
				{% if department == i.department %}

					<tr>
						<td>{{i.name}}</td>
						<td>{{department}}</td>
						<td>{{i.date_created}}</td>
						<td>{{i.room_number}}</td>
						<td>{{i.ventilator_number}}</td>

					</tr>
				{% endif %}
				{% endfor %}

			</table>
		</div>
	</div>
</div>

<br>
<br>
<a class="btn btn-dark  btn-sm btn-block" href="{% url 'add_bed' %}"><h6> Add Bed </h6></a>
<br>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body" id="general">
			<h5>List of Beds:</h5>
		</div>
		<div class="card card-body" id="general">
			<table class="table table-sm">

				<tr>
					<th>Name of patient</th>
					<th>Department</th>
					<th>Date of hospitalization</th>
					<th>Room number</th>
				</tr>
				{% for i in Beds %}
				{% if department == i.department %}
					<tr>
						<td>{{i.name}}</td>
						<td>{{department}}</td>
						<td>{{i.date_created}}</td>
						<td>{{i.room_number}}</td>

					</tr>
				{% endif %}
				{% endfor %}

			</table>
		</div>
	</div>
</div>
<br>
<br>
<a class="btn btn-dark  btn-sm btn-block" href="{% url 'add_patient' %}"> <h6> Add patient </h6> </a>
<br>
<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body" id="general">
					<h5>List of patients:</h5>
				</div>
				<div class="card card-body" id="general">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>ID</th>
							<th>Phone</th>
							<th>Department</th>
							<th>Status</th>
							<th>Updating Status</th>
                            <th>Need for ventilator</th>
							<th>Date of hospitalization</th>
							<th>Delete patient</th>

						</tr>
						{% for i in patients %}

                        {% if department == i.department %}
						<tr>
							<td>{{i.name}}</td>
							<td>{{i.ID}}</td>
							<td>{{i.phone}}</td>
							<td>{{department}}</td>
							<td>{{i.status}}</td>
							<td><a class="btn btn-sm btn-info" href="{%url 'update_patient' i.id%}">Update</a></td>
							<td>{{i.need_ven}}</td>
							<td>{{i.date_created}}</td>
							<td><a class="btn btn-sm btn-danger" href="{%url 'delete_patient' i.id%}">Delete</a></td>
						</tr>
                        {% endif %}
						{% endfor %}

					</table>
				</div>
			</div>

		</div>

	<style>
	        #logo{
		}
		#general{
		background-color: #D3D3D3;
		}
		body{
			background-color: #7CD1E0;
		}
	</style>

{% endblock content %}