{% load static %}

<style>
  .hello-msg{
    font-size: 22px;
    color: #fff;
    margin-right: 24px;
  }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/img1.png'%}">
  <a class="navbar-brand" href="{% url 'home' %}">  <h1> Management Of Medical Inventory </h1> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'patients' %}"> <h3> Patients</h3> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'beds' %}"> <h3> Beds </h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ventilators' %}"> <h3>Ventilators</h3></a>
      </li>
      {% endif %}
    </ul>
  </div>
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a> </span>
</nav>
