<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-ven">
			  	<div class="card-header">
			  		<h5 class="card-title">Total ventilators in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{Ventilator}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-beds">
			  	<div class="card-header">
			  		<h5 class="card-title">Total beds in hospital</h5>
			  	</div>
			  	<div class="card-body">
					<h3 class="card-title">{{beds}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-free">
			  	<div class="card-header">
			  		<h5 class="card-title">Total free beds in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{freeBeds}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>


	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-patients">
			  	<div class="card-header">
			  		<h2 class="card-title">Maximum concentration in the hospital</h2>

			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{concentration}}</h3>
					<a class="btn btn-primary  btn-sm btn-block" href="{%url 'set_concentration' concentration.id%}"> <h6> Update concentration </h6> </a>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-patients">
			  	<div class="card-header">
			  		<h5 class="card-title">Total patients in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{patients.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>
