        #logo{
		}

		body{
			background-color: #7CD1B0;
		}


		#total-patients{
			background-color:  #7CD1A0;
		}


		#total-beds{
			background-color: #7abecc;
		}

		#total-free{
			background-color: #7CD1C0;
		}
			#total-ven{
			background-color: #4cb4c7;
		}