<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-ven">
			  	<div class="card-header">
			  		<h5 class="card-title">Total ventilators in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{xx}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-beds">
			  	<div class="card-header">
			  		<h5 class="card-title">Total beds in hospital</h5>
			  	</div>
			  	<div class="card-body">
					<h3 class="card-title">{{beds}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-free">
			  	<div class="card-header">
			  		<h5 class="card-title">Total free beds in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title"></h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-patients">
			  	<div class="card-header">
			  		<h5 class="card-title">Total patients in hospital</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{patients.count}}</h3>
			  	</div>
			</div>
		</div>
	</div>

